.container
  .row
    .span12
      .well
        .row
          .span7
            %h2 Vacas
          .span4
            = link_to 'Alta dunha vaca', new_cow_path , class: "btn btn-info"
            = paginate @kine
        .row
          .span11
            sss
            = paginate @kine
