.container
  .row
    .span11
      %table.table.table-bordered.table-striped.repro_hover
        %thead
          %tr
            %th Vaca
            %th Xaneiro
            %th Febreiro
            %th Marzo
            %th Abril
            %th Maio
            %th Xuño
            %th Xullo
            %th Agosto
            %th Setembro
            %th Outubro
            %th Novembro
            %th Decembro
            %th


            %tr
              %td
                %h5= @cow.ring
                %h5= @cow.name
              - for i in 0..11
                - if @reproductions[i].nil?
                  %td
                - else
                  %td= @reproductions[i].id

