.container
  .row
    .span12
      .well
        .row
          .span9
            %h2 CONTROL DO LEITE
        .row
          %table.table.table-bordered.table-striped.table_header
            %tr
              %td
                %th{:colspan=>"8"}
                  %h6 LACTACION 305 DIAS
            %tr
              %th{:rowspan => "2"} LEITE KG.
              %th{:colspan => "2"} GRAXA
              %th{:colspan => "2"} PROTEINA
              %th{:rowspan => "2"} PRODUCION VITALICIA
              %th{:rowspan => "2"}
            %tr
              %th KG.
              %th %
              %th KG.
              %th %
            -@cows.each do |c|
              %tr
                %td= link_to (c.short_ring.to_s+'<br />'+c.name).html_safe, lactation_path(c.id)
                = render :partial=>'total_lactations',  locals: {cow:c}
            