/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter_bootstrap
*006d66
*d3e8a3
 */
.probafondo{
    background-color: #e5dbba;
}

.field_with_errors input {
    border: 1px solid red;
}

.error_explanation ul li{
    color: #9f0e0e;
}

.table{
    border:2px solid #92a5cb;
}

.table th{
    background-color: #C4CDE0;
    border:2px solid #92a5cb;
    text-align: center;
}

.cell_reports tr td{
    border:1px solid #92a5cb;
    text-align: center;
}

.table tr td{
    text-align: center;
}