#teams_catalogue {
  height: 690px;
  background: none repeat scroll 0 0 white;
  border: 3px solid #C4CDE0; }
  #teams_catalogue #letter_filter_side_bar {
    border: 3px solid #C4CDE0;
    border-top: 3px;
    border-left: 0px;
    float: left;
    height: 100%;
    text-align: center;
    width: 20px; }
    #teams_catalogue #letter_filter_side_bar .letter_filter_letter_container {
      border-left: 0px;
      border-bottom: 2px solid #C4CDE0;
      border-color: #C4CDE0; }

#catalogue_items_list_container {
  height: 100%;
  margin-left: 20px;
  padding-top: 2px; }
  #catalogue_items_list_container .catalogue_items_container_row {
    border-bottom: 0 solid #222222;
    border-color: #222222;
    padding-left: 6px;
    padding-right: 3px; }
    #catalogue_items_list_container .catalogue_items_container_row .catalogue_item_container {
      background-color: #CFCFCF;
      border-radius: 4px 4px 4px 4px;
      float: left;
      margin: 5px; }

.cow_panel {
  padding: 5px;
  overflow: hidden;
  background-color: #EBEBEB;
  width: 240px;
  border-radius: 7px;
  marging:20px;
}

.left_subpanel {
    float: left;
    width: 45px;
}

.team_photo img {
      width: 40px;
}

.team_info {
    padding-left: 26px;
    text-overflow: ellipsis;
    background-color: white;
    border-radius: 7px;
    height: 50px;
    padding-top:5px;
    padding-bottom:5px;
}

.cow_ring{
  padding-left: 90px;
}

.link_kine{
  color:blue;
}

.first_page_kine{
    color:red
}

.nav_pagination{
    margin-top:10px;
    margin-left:45px;
    color:red;
    padding:3px;
}

.pag_border{
    border:1px solid green;
    margin:5px;
    padding:3px;
}