#teams_catalogue {
  height: 690px;
  background: none repeat scroll 0 0 white;
  border: 3px solid #C4CDE0; }
  #teams_catalogue #letter_filter_side_bar {
    border: 3px solid #C4CDE0;
    border-top: 3px;
    border-left: 0px;
    float: left;
    height: 100%;
    text-align: center;
    width: 20px; }
    #teams_catalogue #letter_filter_side_bar .letter_filter_letter_container {
      border-left: 0px;
      border-bottom: 2px solid #C4CDE0;
      border-color: #C4CDE0; }

.cow_panel {
  padding: 5px;
  overflow: hidden;
  background-color: #EBEBEB;
  width: 240px;
  border-radius: 7px;
  marging:20px;
}

.left_subpanel {
    float: left;
    width: 45px;
}

.team_photo img {
      width: 40px;
}

.team_info {
    padding-left: 26px;
    text-overflow: ellipsis;
    background-color: white;
    border-radius: 7px;
    height: 50px;
    padding-top:5px;
    padding-bottom:5px;
}

.cow_ring{
  padding-left: 90px;
}