.navbar
  .navbar-inner
    .container
      
      .nav-collapse
        %ul.nav
          %li
            = link_to 'Vacas',kine_path
          %li
            = link_to 'Piensos',kine_path
          %li
            = link_to 'Alimentación',kine_path
          %li
            = link_to 'Listados',kine_path