.navbar
  .navbar-inner
    .container
      
      .nav-collapse
        %ul.nav
          %li
            = link_to 'Vacas',kine_path
          %li
            = link_to 'Carta de reproducción', reproductions_path
          %li
            = link_to 'Control do leite', lactations_path
          %li
            = link_to 'Listados',kine_path