.container
  .row
    .span12
      .well
        .row
          .span11
            %h2= @title

        .row
          .span11
            = link_to t('reports.back'), reports_path, class: "btn btn-info"

        .row
          .well
            .css-treeview
              = nested_children(@all_children,'').html_safe
            
            