.container
  .row
    .span12
      .well
        .row
          .span11
            %h2= @title
        .row
          .well
            .css-treeview
              = nested_children(@all_children,'').html_safe
            
            